<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/artworkPageStyle.css">
</head>

<body>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">GALLERYE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/allArtwork">All artworks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sell">Sell your art</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sign" href="#">Sign In/Log In</a>
                </li>
                <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                <!-- </li> -->
            </ul>
        </div>
    </nav>

    <!-- SIDEBAR -->

    <!-- <div class="sidenav .d-flex">
        <span>Year</span>
        <select id="selectYear" name="">
            <option id="optionYear" value=""></option><br>
        </select><br>

        <span> Price </span>
        <select id="selectPrice" name="">
            <option value="optionPrice"></option>
        </select>
        <br>
        <button type="button" class="btn btn-secondary">Apply Filter(s)</button>

    </div> -->

    <div class="sidenav .d-flex">
        <br>
        <br>
        <h4>Filter pieces by:</h4>
        <br>
        <a href="/allArtworkByArtist" id="artist">-Artist</a>
        <br>
        <a href="/allArtworkNewToOld" id="newest-to-oldest">-Newest to oldest</a>
        <br>
        <a href="/allArtworkOldToNew" id="oldest-to-newest">-Oldest to newest</a>
        <br>
        <a href="/allArtworkPriceLowToHigh" id="a href=""">-Price (low to high)</a>
        <br>
        <a href="/allArtworkPriceHighToLow" id="price-high-to-low">-Price (high to low)</a>

    </div>


    <div class="artworkDiv"><a href="#"></a></div>

    <!-- MODAL -->
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title">GALLERYE <i>Sign In</i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <!-- <span aria-hidden="true">&times;</span> -->
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        First Name: <br>
                        <input type="text" name="firstname" size="30" id="firstname"> <br>
                        Last Name: <br>
                        <input type="text" name="name" size="30" id="lastname"> <br>
                        Email <br>
                        <input type="text" name="email" size="30" id="email"> <br>
                        Password <br>
                        <input type="text" name="password" size="30" id="password"> <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add-customer">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    </div>
    <!-- <div class="row"> -->

    <!-- FILTERING OPTIONS -->
    <!-- <div class="filter .d-flex">FILTERING OPTIONS
                <div class="item">TITLE <br>
                    <input type="text">
                </div> <br>
                <div class="item">ARTIST <br>
                    <input type="text">
                </div> <br>
                <div class="item">YEAR <br>
                    <input type="text">
                </div> <br>
                <div class="item">PRICE <br>
                    <input type="text">
                </div> <br>
                <div class="item"> <br>
                    <input type="text">
                </div> <br>
            </div> -->

    <!-- CARDS -->
    <!-- <div class="cards_all .d-flex">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Description...........</p>
                        <a href="#" class="btn bg-dark text-light">BUY</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <script src="js/artworkOldToNew.js"></script>

    <script type="text/javascript">
        //SCRIPT MODAL
        $("#sign").on('click', function () {
            $('.modal').modal('show');
        });

        //SCRIPT SELECT YEARS
        //test 01 ------------------------
        // var myDate = newDate();
        // var year = myDate.getFullYear();
        // for (var i = 1950; i < year+1; i++) {
        //     $("#year").append($(('<option />').val(i).html(i)))
        // };
        //text 02 ------------------------
        // $(document).ready(function () {

        //     for (i = new Date().getFullYear(); i > 1950; i--) {
        //         $("#year").append($('<option />').val(i).html(i))

        //     };
        // });

    </script>

</body>

</html>