<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <script src="jquery-3.4.1.min.js"></script>
    <script type="text/javascript" source="../jquery.loadTemplate.js">

    $(function(){
        function renderTemplates(e){
            $("#container").loadTemplate($("itemTemplate"),  {
        "image": "images/IMG_001.jpg",
        "title": "Banana Comedy",
        "artist": "Maurizio Cattelan",
        "year": " 2019",
        "description": "A Chinese copy of a famous banana",
        "price": "$2000"
    });
};
        window.addEventListener("load", renderTemplates)
    });
    </script>
</head>

<body>
    <h1>YO</h1>

    <script type="text/html" id="itemTemplate"></script>
    <div class="itemTemplateWrapper"></div>
    <img data-src="image" data-alt="author"/>
    <div data-content="title"></div>
    <div data-content="artist"></div>
    <div data-content="year"></div>
    <div data-content="description"></div>
    <div data-content="price"></div>
    
    <!-- container where the templates will be instantiated-->
    <div id="container"></div>

</body>
</html>