<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <!-- <script src="../jquery-3.4.1.min.js"></script> -->
    <link rel="stylesheet" href="../public/css/indexStyle.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript" source="../jquery.loadTemplate.js">

//jQuery 
    $(function(){
        var dataArr = [{
            "image": "../public/images/IMG_001.jpg",
            "title": "Banana Comedy",
            "artist": "Maurizio Cattelan",
            "year": " 2019",
            "description": "A Chinese copy of a famous banana",
            "price": "$2000"
        },
        {
            "image": "../public/images/IMG_002.jpg",
            "title": "Banana Comedy",
            "artist": "Maurizio Cattelan",
            "year": " 2019",
            "description": "A Chinese copy of a famous banana",
            "price": "$2000"
        }];
        function renderTemplates(dataArr){
            for (var i =0 ; i < dataArr.length; i++) {
                var data = dataArr[i];
                var page = $("<div>")
                .addClass("itemTemplateWrapper")
                .append($("<img>").attr("src", data.image).css('width', '200px'))
                .append($("<p>").text(data.title))
                .append($("<p>").text(data.artist))
                .append($("<p>").text(data.year))
                .append($("<p>").text(data.description))
                .append($("<p>").text(data.price))
      
            
            
                $("#container").append(page);
            } 
};
        // window.addEventListener("load", renderTemplates)
        renderTemplates(dataArr);
    });
    </script>
</head>

<img src="" alt="">
<p >the title</p>

<body>
    <!-- jQuery -->
    <script type="text/html" id="itemTemplate"></script>
    <div class="itemTemplateWrapper"></div>
    <img data-src="image" data-alt="author"/>
    <div data-content="title"></div>
    <div data-content="artist"></div>
    <div data-content="year"></div>
    <div data-content="description"></div>
    <div data-content="price"></div>

    <!-- container where the templates will be instantiated-->
    <div id="container">
    </div>
</body>
</html>