<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- AJAX JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Index CSS -->
  <link rel="stylesheet" href="css/indexStyle.css">

</head>

<body>

  <!--NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GALLERYE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allArtwork">All artworks</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- MODAL -->
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title">GALLERYE <i>Sign Up/Log In</i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <h6><strong>Sign Up</strong></h6>
          <form action="" method="POST">
            First Name: <br>
            <input type="text" name="firstname" size="30" id="firstname"> <br>
            Last Name: <br>
            <input type="text" name="name" size="30" id="lastname"> <br>
            Email <br>
            <input type="email" name="email" size="30" id="email"> <br>
            Password <br>
            <input type="password" name="password" size="30" id="password"> <br>
            <hr>
            <h6><strong>Log In</strong></h6>
            Email <br>
            <input type="email" name="email" size="30" id="loginEmail"> <br>
            Password <br>
            <input type="password" name="password" size="30" id="loginPassword"> <br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="add-customer">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- CAROUSEL -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-70" src="../public/images/IMG_10.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-30" src="../public/images/IMG_14.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-30" src="../public/images/IMG_1.jpg" alt="Third slide">
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>

</body>

</html>