* {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    text-align: center;
}

.navbar {
    height: 3.5rem;
}

.navbar-brand {
    font-size: 70px !important;
}

.navbar-nav {
    font-size: 20px !important;
}

/* MODAL */

.modal {}

.modal-header {
    color: white;
}

.filter {
    /* display: flexbox; */
    border: 1px solid red;
    margin: 10px;
    width: 300px;
    height: 100%;
}

.item {
    border: 1px solid red;
    width: 250px;
    height: 70px;
    margin: auto;
}

.cards_all {
    /* display: flexbox; */
    margin: 10px;
}

.sidenav {
    margin-top: 30px;
    /* display: flexbox; */
    border: 1px solid red;
    height: 900px;
    width: 200px;
    height: 100%;
    /* position: relative; */
    /* z-index: 1; */
    /* top: 0; */
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

select {
    display: flexbox;
    width: 100px;
    margin: 20px;
}