* {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
  
}

body {
    text-align: center;
}

.navbar {
    height: 3.5rem;
}
.navbar-brand {
    font-size: 70px !important;
}
.navbar-nav {
    font-size: 20px !important;
}

 /* MODAL */
 .modal {

}
.modal-header {
    color: white;
}

.filter {
    /* display: flexbox; */
    border: 1px solid red;
    margin: 10px;
    width: 300px;
    height: 100%;
}

.item {
    border: 1px solid red;
    width: 250px;
    height: 70px;
    margin:auto;
}

.cards_all {
    /* display: flexbox; */
    margin: 10px;
}

