  * {
      font-family: 'Noto Sans JP', sans-serif;
  }

  body {
      /* background-color: red; */
  }

  /* NAVBAR */

  .navbar {
      height: 3.5rem;
  }

  .navbar-brand {
      font-size: 70px !important;
  }

  .navbar-nav {
      font-size: 20px !important;
  }

 .container {
     border: 1px solid red;
     width: 80%;
     height: 500px;
     margin-top: 30px;
 }

   /* MODAL */
   .modal {

}
.modal-header {
    color: white;
}