* {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    text-align: center;
    height: 100%;
}

.navbar {
    height: 3.5rem;
}

.navbar-brand {
    font-size: 70px !important;
}

.navbar-nav {
    font-size: 20px !important;
}

/* MODAL */

.modal {}

.modal-header {
    color: white;
}

.item {
    /* border: 1px solid red; */
    width: 250px;
    height: 70px;
    margin: auto;
}

/*CARDS*/

.productDiv {
    margin: auto;
}

.card {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    width: 50%;
}

.card-body {
    /* border: 5px solid blue; */
    width: 100%;
    /* height: 500px; */
    padding: 0px;
    margin: auto;
}

.card-img-top {
    /* border: 3px solid yellow; */
    width: 50%;
    height: 100%;
    padding: 0px;
    margin: auto;
}

.card-title {
    /* border: 1px solid red; */
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
}

.card-text-artist {
    /* border: 1px solid orange; */
    /* font-family: 'Lato', sans-serif; */
    font-size: 1.5rem;
    font-weight: bolder;
    /* margin-bottom: 5px; */
    margin-top: 0;
}

.card-text-description {
    /* border: 1px solid orange; */
    /* width: 80%; */
    font-size: 1rem;
}

.card-text-price {
    /* border: 1px solid red; */
    font-family: 'Lato', sans-serif;
    font-size: small;
    margin-bottom: 0;
    color: grey;
    font-size: 1rem;
}

.btn {
    color: white;
    margin-top: 30px;
    width: 200px;
    margin-bottom: 20px;
}

.creditCardForm {
    width: 100%;
    margin: auto;
}

#confirm-purchase {
    width: 80% !important;
    margin: auto !important;
    /* background-color: black !important; */
}

#bgpayment {
    display: block;
}

/* .creditCardForm .heading {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    /* color: #4c4e56; */

/* .modal-body {
    margin: auto;
     width: 100%;
     
    }
    
    #payModal {
        margin: auto;
         width: 100%;
         text-align: center;
        
}  */

/* 
.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
} */